.topsection{
    height: 600px;
    border:1px solid yellow;

}
body{
    font-family: 'Roboto', sans-serif;
}
.heading{
    font-size: 80px;
}
.namecolor1{
    color: #363958;
}
.namecolor2{
   color: #FF8367;
}
.btn{
    text-decoration: none;
    color: white;
    border: 1px solid tomato;
    border-radius: 8px;
    padding: 8px;
    background-image:linear-gradient(140deg, lightsalmon, tomato);
}
.img{
    width: 80%;
}
.topdiv{
   
    padding:5% ;
    width: 40%;
    float: left;
}
.middlesection1{
    height: 600px;
    border:1px solid yellow;
  

}
.middlediv1{

    margin:3.75%;
    padding:3.75% ;
    width: 35%;
    float: left;
    
}
.middlesection2{
    height: 400px;
    border: 1px solid yellow;
    background-color: lightgoldenrodyellow;
    
}
.middlediv2{

    margin-left: 10%;
    padding: 2%;
    border:7px sloid;
    width: 60%;
    box-shadow:10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,purple);
    border-image-slice: 1;
    background-color: white;
}
h2.educationname{
    color: violet;
}
.eduline{
    color:yellowgreen
}
.bottomsection{
   height: 1000px;
   border: 1px solid black;
}
.grids img{
    width: 100%;
    height: 20%;
    padding: 2%;
    margin: 2%;
   

}
.grids{
    width: 20%;
    height: 20%;
    margin: 2% 2% 2% 5%;
    padding: 2%;
    float: left; 
    border:7px sloid;
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    
}

.subsection{
    margin: 3%;
 


}
.bottomsection2{
    height: 200px;
    
}

.bottomdiv{
    border: 1px solid black;
    height: 200px;
    background-image: url("background/Group1.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border:1px solid black;
    
    
}
.bottomdiv h2{
margin-top: 7%;
    margin-left: 30%;
    border:1px solid black;
    color: white;
    float: left;

}
.bottomdiv a{
text-decoration: none;
margin-top: 7%;
margin-left: 5%;
border: 1px solid tomato;
background-image: linear-gradient(40deg,lightsalmon,tomato);
border-radius: 7px;
padding: 7px;
float: left;

}

.iconimg img{
    
}
